.heading1 {
  @apply font-pjsBold text-[50px] font-bold not-italic text-black;
}

.heading2 {
  @apply font-pjsBold text-[24px] font-semibold not-italic text-black;
}

.heading3 {
  @apply font-pjsBold text-[16px] font-bold not-italic leading-none tracking-tight text-white;
}
